@page "/admin/books"
@page "/admin"
@inherits OwningComponentBase<iBookRepository>

<div class="container-fluid overflow-scroll" style="height: 500px">
    @*<div class="overflow-auto">*@
        <table class="table table-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th>BookID</th>
                    <th>IBSN</th>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                @if (BookData?.Count() > 0)
                {
                    @foreach (Book b in BookData)
                    {
                        <tr>
                            <td>@b.BookId</td>
                            <td>@b.Isbn</td>
                            <td>@b.Title</td>
                            <td>@b.Author</td>

                            <td>
                                <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(b.BookId)">Details</NavLink>
                                <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(b.BookId)">Edit</NavLink>
                                <button class="btn btn-danger btn-sm" @onclick="@(x => RemoveBook(b))">Delete</button>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">No Books</td>
                    </tr>
                }

            </tbody>



        </table>
    @*</div>*@
</div>
<NavLink class="btn btn-primary btn" href="/admin/books/create">Create</NavLink>

@code {
    public iBookRepository repo => Service;
    public IEnumerable<Book> BookData { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }
    public async Task UpdateData()
    {
        BookData = await repo.Books.ToListAsync();
    }

    public async Task RemoveBook (Book b)
    {
        repo.DeleteBook(b);
        await UpdateData();
    }

    public string GetDetailsUrl(long id) => $"/admin/books/details/{id}";
    public string GetEditUrl(long id) => $"/admin/books/edit/{id}";
}
